.button-div{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.container-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.delete-text-color{
    text-decoration: underline;
    color: rgb(217, 32, 32);
}

.container-div-general{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 100%; */
}

.update-button{
    margin-left: 30px;
}

.col-form-label{
    margin-left: 20px;
}
.dropdown-button{
    margin-left: -10px;
}
.search-button, .search-button1{
    margin-right: 50px;
}
.datepicker{
    margin-left: -200px;
}
.text-field{
    width: 95%;
    padding: 8px;
    border-radius: 8px;
    margin-left: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.text-field-1{
    width: 90%;
    /* padding: 3px; */
    margin-bottom: 6px;
    /* border-radius: 8px; */
    margin-left: 30px;
    /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; */
}
.all-buttons{
    display: flex;
    flex-direction: row;

}
.text-field-2{
    width:100%
}

.contact-add-button{
    color: white;
    margin-top: 5px;
}

/* Registration */

.new-regis-button{
    background-color: rgb(38, 172, 38);
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Import Create Job */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    row-gap: 10px;
}

.text-field-3{
    margin-right: 2%;
    font-size: small;
}
.text-field-4{
    font-size: small;
}
.dropdown-btn{
    font-size: small;
    padding: 5px;
}
.nav-link-text{
    font-size: small;
}



/* Import General */

/* .general-grid{
    display: grid;
    grid-template-columns: auto;
    font-size: medium;
} */

.impgen-text-field-1{
    margin-bottom: 2%;
}

.impgen-text-dropdown{
    width: 100%;
}

.main-div{
    display: flex;
    flex-direction: row;
}

.left-div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.right-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* O2D */
.left-div-table{
    font-size: small;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.o2d-field-4{
    padding: 5px;
    border-color: black;
}

.o2d-field-5{
    width: 100px;
    padding: 5px;
    border-color: black;
}

.date-field{
    width: auto;
}

.remarks-field{
    width: 100%;
}

.impcollection-search-button{
    padding: auto;
}

.dropdown-btn-branch{
    width: 100%;
}

/* Import */

.grid-container-import{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.dropdown-btn{
    background: transparent;
    border: 1px solid black;
}

.text-field-4{
    margin-left: 2%;
}

/* IMPORT ACCESS */
/* .imp-access-label{
   
} */

/* .first-row{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    column-gap: 10px;
    margin-top: 2%;
}
.second-row{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    column-gap: 10px;
    margin-top: 2%;
}
.third-row{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    column-gap: 10px;
    margin-top: 2%;
} */

.custom-house-dropdown{
    height: 120px;
}

.row-font{
    font-size: small;
}
/* .all-buttons-user-import{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-button{
    margin-left: 30px;
} */

.date-filters{
    display: flex;
    flex-direction: row;
}

.main-div-report{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.O2D-values{
    padding: 0px;
}

.left-div-report{
    width: 50%;
    position: relative;
}

.main-div-report{
    border-right: 1px solid black;

}

.right-div-report{
    width: 30%;
    position: absolute;
    float: right;
    margin-top: -350px;
    margin-left: 650px;
}

.date-filters-report{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.date-filters-report .start-date-filters-report, .date-filters-report .end-date-filters-report, .date-filters-report .start-date-filters-report:active, .date-filters-report .end-date-filters-report:active, .date-filters-report .start-date-filters-report:focus, .date-filters-report .end-date-filters-report:focus{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid black;
    margin-right: 20px;
    height: 30px;
}
.filter-button, .clear-button{
    margin-top: -45px;
    margin-right: 20px;
    border-radius: 20px;;
}
.selected-branch {
    color: blue; /* Change the color to your desired color */
    font-weight: bold; /* Optionally, make the text bold or apply other styles */
    /* cursor: default; */
}
.allbranches{
    cursor: default;
}

/* .text-field-5{
    font-size: 10px;
} */


.role-newuser{
    width: 100%;
}
.grid-KYC{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 20px;
}

.grid-kyc{
    display: grid;
    grid-template-columns: auto auto;
}

.text-field-UL-1{
    margin-left: 15px;
    margin-bottom: 2%;
}
.text-field-UL-2{
    margin-left: 60px;
    margin-bottom: 2%;
}
.text-field-UL-3{
    margin-left: 65px;
    margin-bottom: 2%;
}
.text-field-UL-4{
    margin-left: 20px;
    margin-bottom: 2%;
}
.text-field-UL-5{
    margin-left: 38px;
    margin-bottom: 2%;
}
.text-field-UL-6{
    margin-left: 50px;
    width: 56%;
}
.text-field-UL-7{
    margin-left: 30px;
    width: 56%;
    margin-bottom: 2%;
}
.text-field-UL-8{
    margin-left: 20px;
    margin-bottom: 2%;
}
.text-field-UL-9{
    margin-left: 40px;
    margin-bottom: 2%;
}
.userlist-button{
    margin-bottom: 1%;
}




.dropdown-menu-notifications{
    width: 500px;
}
.notifrow{
    overflow-x: hidden;
    cursor: default;
}
.notif{
    margin-left: 20px;
    text-decoration: none;
}


.readallbtn{
    width: 100px;
    margin-left: 30px;
    background-color: blueviolet;
}