.button-div{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.container-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.col-form-label{
    margin-left: 20px;
}
.dropdown-button{
    margin-left: -10px;
}
.search-button, .search-button1{
    margin-right: 50px;
}
.datepicker{
    margin-left: -200px;
}
.text-field{
    padding: 8px;
    border-radius: 8px;
    margin-left: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.text-field-1{
    width: 90%;
    /* padding: 3px; */
    margin-bottom: 6px;
    /* border-radius: 8px; */
    margin-left: 30px;
    /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; */
}
.all-buttons{
    display: flex;
    flex-direction: row;

}
.text-field-2{
    width:100%
}

/* Registration */

.new-regis-button{
    background-color: rgb(38, 172, 38);
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Import Create Job */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 5px;
    row-gap: 10px;
}

.text-field-3{
    margin-right: 2%;
    font-size: small;
}
.text-field-4{
    font-size: small;
}
.dropdown-btn{
    font-size: small;
    padding: 5px;
}
.nav-link-text{
    font-size: small;
}


/* Import General */

/* .general-grid{
    display: grid;
    grid-template-columns: auto;
    font-size: medium;
} */

.impgen-text-field-1{
    margin-bottom: 2%;
}

.impgen-text-dropdown{
    width: 100%;
}

.main-div{
    display: flex;
    flex-direction: row;
}

.left-div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.right-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* O2D */
.left-div-table{
    font-size: small;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.o2d-field-4{
    padding: 5px;
    border-color: black;
}

.date-field{
    width: auto;
}

.remarks-field{
    width: 100%;
}

