.button-div{
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.container-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.col-form-label{
    margin-left: 20px;
}
.dropdown-button{
    margin-left: -10px;
}
.search-button, .search-button1{
    margin-right: 50px;
}
.datepicker{
    margin-left: -200px;
}
.text-field{
    padding: 8px;
    border-radius: 8px;
    margin-left: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.text-field-1{
    width: 90%;
    /* padding: 3px; */
    margin-bottom: 6px;
    /* border-radius: 8px; */
    margin-left: 30px;
    /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px; */
}
.all-buttons{
    display: flex;
    flex-direction: row;

}
.text-field-2{
    width:100%
}